@import "tailwindcss";

@theme {
  --color-dark-slate: #001f1d;
  --color-safety-orange: #E67E22;
  --color-crisp-white: #ffffff;
  --color-background: var(--color-dark-slate);
  --color-foreground: var(--color-crisp-white);
}

/* Custom Utilities */
@utility text-balance {
  text-wrap: balance;
}

body {
  background-color: var(--color-dark-slate);
  color: var(--color-crisp-white);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}